* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
 
}

.box{
    height: 200px;
    width: 200px;
    background: #5dffd7;
    margin: 30px;
    border: 3px solid forestgreen;
}
button{
    margin: 30px;
}