* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
main{
    margin: 50px;
}
.box{
    height: 200px;
    width: 200px;
    background: red;

}
button{
    padding: 10px 16px;
    background: black;
    color: white;
    margin-top: 30px;
}
.rotate-left{

}